<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-weather-history-heading">Create or edit a Weather History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cityName">City Name</label>
                    <input type="text" class="form-control" name="cityName" id="field_cityName"
                           formControlName="cityName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_weatherDescription">Weather Description</label>
                    <input type="text" class="form-control" name="weatherDescription" id="field_weatherDescription"
                           formControlName="weatherDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_currentTemperature">Current Temperature</label>
                    <input type="number" class="form-control" name="currentTemperature" id="field_currentTemperature"
                           formControlName="currentTemperature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_minTemperature">Min Temperature</label>
                    <input type="number" class="form-control" name="minTemperature" id="field_minTemperature"
                           formControlName="minTemperature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_maxTemperature">Max Temperature</label>
                    <input type="number" class="form-control" name="maxTemperature" id="field_maxTemperature"
                           formControlName="maxTemperature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sunset">Sunset</label>
                    <input type="number" class="form-control" name="sunset" id="field_sunset"
                           formControlName="sunset"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sunrise">Sunrise</label>
                    <div class="input-group">
                        <input id="field_sunrise" type="text" class="form-control" name="sunrise" ngbDatepicker  #sunriseDp="ngbDatepicker" formControlName="sunrise"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="sunriseDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
