<div>
    <h2 id="page-heading">
        <span>Weather Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-weather-history" [routerLink]="['/weather-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Weather History
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div>
        <input name="city" [(ngModel)]="city" placeholder="City"/>
        <button (click) = "getWeatherByCity()">Get Weather</button>
    </div>
    <div>
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <th scope="col" ><span>City Name</span></th>
            <th scope="col" ><span>Weather Description</span></th>
            <th scope="col" ><span>Current Temperature</span></th>
            <th scope="col" ><span>Min Temperature</span></th>
            <th scope="col" ><span>Max Temperature</span></th>
            <th scope="col" ><span>Sunset</span></th>
            <th scope="col" ><span>Sunrise</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{weather.name}}</td>
                <td>{{weather.weatherDescription}}</td>
                <td>{{weather.temperature}}</td>
                <td>{{weather.min_Temperature}}</td>
                <td>{{weather.max_Temperature}}</td>
                <td>{{weather.sunset}}</td>
                <td>{{weather.sunrise | date:'mediumDate'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    


    <div class="alert alert-warning" *ngIf="weatherHistories?.length === 0">
        <span>No weatherHistories found</span>
    </div>
    <div class="table-responsive" *ngIf="weatherHistories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>City Name</span></th>
            <th scope="col" ><span>Weather Description</span></th>
            <th scope="col" ><span>Current Temperature</span></th>
            <th scope="col" ><span>Min Temperature</span></th>
            <th scope="col" ><span>Max Temperature</span></th>
            <th scope="col" ><span>Sunset</span></th>
            <th scope="col" ><span>Sunrise</span></th>
            <th scope="col" ><span>User</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let weatherHistory of weatherHistories ;trackBy: trackId">
                <td><a [routerLink]="['/weather-history', weatherHistory.id, 'view' ]">{{weatherHistory.id}}</a></td>
                <td>{{weatherHistory.cityName}}</td>
                <td>{{weatherHistory.weatherDescription}}</td>
                <td>{{weatherHistory.currentTemperature}}</td>
                <td>{{weatherHistory.minTemperature}}</td>
                <td>{{weatherHistory.maxTemperature}}</td>
                <td>{{weatherHistory.sunset}}</td>
                <td>{{weatherHistory.sunrise | date:'mediumDate'}}</td>
                <td>
                    {{weatherHistory.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/weather-history', weatherHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/weather-history', weatherHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(weatherHistory)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
