<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="weatherHistory">
            <h2><span>Weather History</span> {{weatherHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>City Name</span></dt>
                <dd>
                    <span>{{weatherHistory.cityName}}</span>
                </dd>
                <dt><span>Weather Description</span></dt>
                <dd>
                    <span>{{weatherHistory.weatherDescription}}</span>
                </dd>
                <dt><span>Current Temperature</span></dt>
                <dd>
                    <span>{{weatherHistory.currentTemperature}}</span>
                </dd>
                <dt><span>Min Temperature</span></dt>
                <dd>
                    <span>{{weatherHistory.minTemperature}}</span>
                </dd>
                <dt><span>Max Temperature</span></dt>
                <dd>
                    <span>{{weatherHistory.maxTemperature}}</span>
                </dd>
                <dt><span>Sunset</span></dt>
                <dd>
                    <span>{{weatherHistory.sunset}}</span>
                </dd>
                <dt><span>Sunrise</span></dt>
                <dd>
                    <span>{{weatherHistory.sunrise}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{weatherHistory.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/weather-history', weatherHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
