<div>
    <h2 id="page-heading">
        <span>Weathers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-weather" [routerLink]="['/weather/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Weather
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="weathers?.length === 0">
        <span>No weathers found</span>
    </div>
    <div class="table-responsive" *ngIf="weathers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let weather of weathers ;trackBy: trackId">
                <td><a [routerLink]="['/weather', weather.id, 'view' ]">{{weather.id}}</a></td>
                <td>{{weather.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/weather', weather.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/weather', weather.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(weather)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
